@font-face {
    font-family: "WindCreek";
    src: url(fonts/wind_creek/WIND\ CREEK\ Italic.ttf);
}

body {
    width: 1250px;
    background: url(peerguntlive.jpg) no-repeat;
    background-position: center top;
    background-size: cover;
}

#Header {
    text-align: center;
    font-family: "WindCreek";
    font-size: 60px;
    margin-top: -140px;
}
/*Tällä saadaan kaksi elementtiä samaan linjaan eripuolille*/
#divLeft {
    float: left;
    color: white;
    -webkit-text-stroke: 1.5px black;
}

#divRight {
    float: right;
    color: white;
    -webkit-text-stroke: 1.5px black;
}

/*Aikataulujen otsikoiden muuttaminen*/
#aikaTaulu {
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    margin-top: -35px;
    color: white;
}

#linkit, a {
    font-size: 30px;
    color: white;
}

p {
    font-size: 30px;
}

#home {
    margin-left: 10px;
}
